<%- include ('./../../partials/header.ejs') %> <!--Importando o header-->
<%- include ('./../../partials/navbar.ejs') %> <!--Importando a navbar-->

<div class="container">
    <hr>
    <h2>Artigos</h2>
    <a class="btn btn-info" href="/admin/articles/new">Criar novo artigo</a>
    <hr>
    <table class="table table-bordered"> <!--Configurando a exibição da tabela com bootstrap-->
        <thead>
            <tr> <!--Cada categoria será um TR-->
                <th>Id</th> 
                <th>Título</th>
                <th>Slug</th>
                <th>Categoria</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% articles.forEach(article => { %>
                <tr>
                <td><%= article.id %></td> 
                <td><%= article.title %></td>
                <td><%= article.slug %></td>
                <td><%= article.category.title %></td> 
                <td>
                    <form method="post" action="/articles/delete" style="display: inline;" onsubmit="confirmarDelecao(event, this)"> <!--Esse estilo evita que o formulário se quebre (botões). This passa o elemento html que chama esse evento-->
                        <input type="hidden" name="id" value="<%= article.id %>"> <!--Envio para o backend para deletar o id correto-->
                        <button class="btn btn-danger">Deletar</button> <!--Botão vermelho-->
                    </form>
                </td>
                </tr>
          <%  }) %>
        </tbody>
    </table>
</div>
<%- include ('./../../partials/footer.ejs') %> <!--Importando o footer-->
<!--a variável event chama o método preventDefault que impede a submissão de exclusão-->
<!-- parâmetro event  -->
<script>
    function confirmarDelecao(event, form) {
        event.preventDefault();
        var decision = confirm("Você quer deletar esse artigo?");   //receber uma decisão do usuário
        if (decision){
            form.submit(); //submeter o formulário a exclusão
        }
    }
</script>